/* Header */

.blog-page-header {
    height: 60vh;
    background: rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .blog-page-header .container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    color: #f8f8ff;
    height: 40vh;
    padding: 0.75rem;
    background-color: rgba(190, 190, 190, 0.1);
    z-index: 2;

  }
  
  /* Blog Posts Section */
  
  .blog-page {
    padding: 5rem 0;

    
  }
  
  .blog-page .container {
    display: grid;
    padding: 4rem 1rem;
    grid-template-rows: 1fr;
    gap: 5px;
  
  }
  
  .grid-inner-container {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 1.5rem 0;
    width: 100%;
  }
  
  .grid-inner-container .box {
    text-align: center;
    justify-content: center;
  }
  
  .grid-inner-container .box > i {
    margin-top: 2rem;
    color: var(--primary-color);
  }
  
  
  h3.text-date {
    font-size: 0.8rem;
  }

  /* Social Icons */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect  */
.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

